@font-face {
    font-family: mainFont;
    src: url(../fonts/raleway/Raleway-Medium.ttf);
}

html{
	height : 100%;
}

body{
    font-family: mainFont;
    font-size: 12px;
	height : 100%;
}

hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

h1{
	border-bottom: solid black 2px;
	padding: 5px;
	margin-bottom: 15px;
	display: inline-block;
}

input, select{
	font-size: 12px;
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
	box-shadow: none !important;
	height: 30px !important;
}

button:focus {
	outline:0;
}

.custom-button{
	background-color: white;
	border: solid 1px;
	border-radius: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: all 0.3s;
}

.custom-button:hover{
	border: solid 1px;
	background-color: #333;
	color: white;
}

.custom-button-s{
	background-color: white;
	border: solid 1px;
	border-radius: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.custom-button-s:hover{
	border: solid 1px;
	background-color: #333;
	color: white;
}

.checkbox input{
	height: 18px !important;	
}

#global-view{
	height : 100%;
}

#global-view > .container-fluid, #global-view > .container-fluid > .row{
	height : 100%;
}

.no-padding{
	padding: 0px 0px 0px 0px;
}

.no-margin{
	margin: 0px 0px 0px 0px;
}

.inline-block{
	display: inline-block;
}

.centered-non-block{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.overflow{
	overflow: auto;
	height: 100%;
}

.centered-text{
	text-align: center;
}

.v-align-middle{
	vertical-align: middle;
}

.grey-left-border{
	border-left: solid 1px #ccc;
}

.small-margin-left{
	margin-left: 10px;
}

.small-margin-right{
	margin-right: 10px;
}

.small-margin-top{
	margin-top: 10px;
}

.small-margin-bottom{
	margin-bottom: 10px;
}

.mini-margin-top{
	margin-top: 5px;	
}

.small-padding-left{
	padding-left: 10px;
}

.large-margin-top{
	margin-top: 40px;
}

.x-large-margin-top{
	margin-top: 65px;
}

.grey-color{
	color: #ccc;
}

.selectable:hover{
	opacity: 0.7;
	cursor: pointer;
}

.selected-behavour{
	font-weight: bold;
	text-decoration: underline;
}

.size-40x40{
	width: 40px;
	height: 40px;
}

.hover-cursor-pointer:hover{
	cursor: pointer;
}

.hover-cursor-draggable:hover{
	cursor: move;
}

.full-height{
	height : 100%;
}

/* Navbar */

.nav, .nav > div{
	height : 100%;
	overflow: auto;
	vertical-align: top;
}

.nav-left{
	background-color: #1A2530;
	border-right: solid 1px #34495E;	
}

.nav-right{
	background-color: #2C3E50;
	color: #8FA3B8;
	padding: 10px;
	margin-left: -3px;
}

.nav li{
	margin-top: 2px;
	margin-bottom: 2px;	
	font-size: 11px;	
	list-style-type: none;
}

.nav ul{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.nav a{
	color: #8FA3B8;
	text-decoration: none;
}

.navbar-icon{
	height: 30px;
	width: 30px;
	margin: 10px;
}

.navbar-active{
	background-color: #2C3E50;
}

.subnav-active a{
	text-decoration: underline;
}

.subnav-pack{
	border-bottom: solid 1px #34495E;
	margin-top: 5px;
	padding-bottom: 2px;
	opacity: 0.5;
}

.subnav-pack-active{
	opacity: 1;
}

/* Stats performance */

.small-square{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/* Goal Measurements */

#raphael-canevas{
	width : 200px;
	margin-left: auto;
	margin-right: auto;
}

/* Exercices exercice */

#exercices-exercices-pic-pack{
	width : 405px;
	height : 400px;
	margin-left: auto;
	margin-right: auto;
}

#exercices-exercices-pic-pack .svg{
	width : 200px;
	height : 400px;
}

.svg .selectable_area:hover{
	fill : red;
	cursor: pointer;
}

.svg .selected_area{
	fill : red;
}

/* Exercice workout */

.exercice-button{
	line-height: 34px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	font-size: 20px;
	border : solid 2px #E9E9E9;
	border-radius: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color : #E9E9E9;
}

.exercice-button:hover{
	color : #34495E;
	border-color: #34495E;
	cursor: pointer;
}

.vertical-join{
	height : 20px;
	width: 2px;
	background-color: #E9E9E9;
	margin-left: auto;
	margin-right: auto;
}

.selected-exercice-button{
	color : white;
	background-color: #34495E;
	border-color: #34495E;
}

.selected-exercice-button:hover{
	color: white !important;
}

/* Plan */

.workout-box{
	padding: 5px;
	border-bottom: solid 1px #34495E;
	border-left: solid 3px #34495E;
	margin-top: 5px;
}

.workout-box:hover{
	border-color: rgba(52, 73, 94, 0.5);
}

.day-box{
	border: solid 1px #eee;
	padding: 5px;
	height: 100px;
	margin-bottom: 15px;
}

.fake-day-box{
	padding: 5px;
	height: 102px;
	margin-bottom: 10px;
}

.drag-over{
	border: dashed 1px #aaa;
}

.selected-month{
	font-weight: bold;
	text-decoration: underline;
}

/* Track */

.track-box{
	padding: 5px;
	border-bottom: solid 1px #34495E;
	border-left: solid 3px #34495E;
	margin-top: 5px;
}

.track-box:hover{
	cursor: pointer;
}

.track-box:hover{
	border-color: rgba(52, 73, 94, 0.5);
}