<div class="container-fluid home-page">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
					<h1>Coliseum</h1>
					<h2>Advanced workout tracker for dedicated athletes.</h2>
					<div>
						<div class="home-button home-button-active">
							<div><img src="img/svg/laptop.svg"></div>
							<div>Desktop <br> <span class='home-label-detail'>beta</span></div>
						</div>
						<div class="home-button home-button-disabled">
							<div><img src="img/svg/apple-store.svg"></div>
							<div>IOS <br> <span class='home-label-detail'>in progress</span></div>
						</div>
						<div class="home-button home-button-disabled">
							<div><img src="img/svg/android.svg"></div>
							<div>Android <br> <span class='home-label-detail'>in progress</span></div>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">

					<h1>Get involved to the next level</h1>
					<p>Tracking is time consuming but it's the only way.</p>
					<p>Analyse your training, understand your body, improve your gains.</p>

				</div>
				<div class="col-md-6">
					<div class="home-xplain">
						<img class="home-xplain-img" src="img/svg/vinyl.svg">
						<span>Record your trainings</span>
					</div>
					<div class="home-xplain">
						<img class="home-xplain-img" src="img/svg/traffic.svg">
						<span>Analyse your achievements</span>
					</div>
					<div class="home-xplain">
						<img class="home-xplain-img" src="img/svg/brain.svg">
						<span>Improve your process</span>
					</div>
					<div class="home-xplain">
						<img class="home-xplain-img" src="img/svg/biceps.svg">
						<span>Improve</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
				</div>
			</div>

		</div>
	</div>
</div>