<navbar></navbar>

<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-md-6">
			<form>
			  <h3>Areas</h3>
			  <div class="form-group">
			    <select class="form-control" 
			    ng-model="area"
			    ng-options="area as area.id for area in areas"
			    ng-change="selectArea(area)"></select>
			  </div>
			</form>
		</div>
		<div class="col-md-6">
			<div id="exercices-exercices-pic-pack">
				<img class="svg" src="img/svg/body-front.svg">
				<img class="svg" src="img/svg/body-back.svg">
			</div>
		</div>
	</div>
</div>