<navbar></navbar>
<exercices-navbar></exercices-navbar>

<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-md-3">
			<h2>Affected areas</h2>
			<div class="grey-left-border small-margin-left small-padding-left">
				<div class="selectable"
				ng-class="{'selected-behavour': area.selected}" 
				ng-repeat="area in areas" 
				ng-click="selectArea(area)">{{area.name}}</div>
			</div>
		</div>
		<div class="col-md-3">

			<form>
		  		<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" ng-model="exercice.name">
		  		</div>
		  		<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" ng-model="exercice.description">
		  		</div>
		  		<button ng-click="save()" type="submit" class="btn btn-primary btn-sm">Create</button>
			</form>

		</div>
		<div class="col-md-6">
			<div id="exercices-exercices-pic-pack">
				<img class="svg" src="img/svg/body-front.svg">
				<img class="svg" src="img/svg/body-back.svg">
			</div>
		</div>
	</div>
</div>