<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-md-2 full-height no-padding">
			<navbar></navbar>
		</div>
		<div class="col-md-4">
			<form>
			  <h3>Measurements</h3>
			  <div class="form-group">
			    <select class="form-control" 
			    ng-model="measurement"
			    ng-options="measurement as measurement.name for measurement in measurements"
			    ng-change="changeMeasurements(measurement)"></select>
			  </div>
			</form>
			<div>
				<div ng-show="selectedGoal">
					<h3>Current goal</h3>
					<div class="grey-left-border">
			  			<div class="small-margin-left"><strong>value : </strong>{{selectedGoal.value}}<span class="grey-color">%</span></div>
			  			<div class="small-margin-left"><strong>Date : </strong>{{selectedGoal.date}}</div>
			  		</div>
		  		</div>
		  		<div ng-show="measurement">
			  		<h3>New goal</h3>
			  		<form>
					  <div class="form-group">
					    <label>Value</label>
					    <input type="number" class="form-control" ng-model="newGoal.value">
					  </div>
					  <div class="form-group">
					    <label>Date</label>
					    <input type="date" class="form-control" ng-model="newGoal.date">
					  </div>
					  <button ng-click="save()" type="submit" class="btn btn-primary btn-sm">Create</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="raphael-canevas"></div>
		</div>
	</div>
</div>