<navbar></navbar>
<goals-navbar></goals-navbar>

<div class="container-fluid" ng-init="init()">
  <div class="row">
  	<div class="col-md-5 col-md-offset-1">
	  	<table class="table table-condensed">
	  		<h3>Current body weight</h3>
	  		<div class="grey-left-border">
	  			<div class="small-margin-left"><strong>Weight : </strong>{{currentBodyWeight.weight}}<span class="grey-color">kg</span></div>
	  			<div class="small-margin-left"><strong>Date : </strong>{{currentBodyWeight.date}}</div>
	  		</div>
	  		<h3>Previous goals</h3>
	  		<thead>
	  			<tr>
	  				<th><strong>#</strong></th>
	  				<th><strong>Weight</strong></th>
	  				<th><strong>Date</strong></th>
	  				<th><strong>Reached</strong></th>
	  				<th><strong>Delete</strong></th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<tr ng-repeat="goal in bodyWeightGoals">
	  				<td>{{$index+1}}</td>
	  				<td>{{goal.weight}}kg</td>
	  				<td>{{goal.date}}</td>
	  				<td>{{goal.reached}}</td>
	  				<td><button ng-click="delete(goal)" type="submit" class="btn btn-danger btn-xs">Delete</button></td>
	  			</tr>
	  		</tbody>
		</table>
  	</div>
  	<div class="col-md-3 col-md-offset-1">
  		<h3>New goal</h3>
  		<form>
		  <div class="form-group">
		    <label>Weight</label>
		    <input type="number" class="form-control" ng-model="goal.weight">
		  </div>
		  <div class="form-group">
		    <label>Date</label>
		    <input type="date" class="form-control" ng-model="goal.date">
		  </div>
		  <button ng-click="save()" type="submit" class="btn btn-primary btn-sm">Create</button>
		</form>
  	</div>
  </div>
</div>