<div ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8 col-md-offset-2" id="exercices-navbar">
        <a href="exercices/exercices">
        	<div class="col-md-2" ng-class="{ 'navbar-active': isActiveStrict('/exercices/exercices')}">Exercices</div>
        </a>
        <a href="exercices/workouts">
        	<div class="col-md-2" ng-class="{ 'navbar-active': isActiveStrict('/exercices/workouts')}">Workouts</div>
        </a>
      </div>

    </div>
  </div>
</div>