<div ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8 col-md-offset-2" id="measures-navbar">
        <a href="measures/measurements">
        	<div class="col-md-2" ng-class="{ 'navbar-active': isActiveStrict('/measures/measurements')}">Measurements</div>
        </a>
        <a href="measures/weight">
        	<div class="col-md-2" ng-class="{ 'navbar-active': isActiveStrict('/measures/weight')}">Body weight</div>
        </a>
        <a href="measures/bodyfat">
        	<div class="col-md-2" ng-class="{ 'navbar-active': isActiveStrict('/measures/bodyfat')}">Body fat</div>
        </a>
      </div>

    </div>
  </div>
</div>