<div class="navbar" ng-controller="NavbarController">

        <a href="track">
          <div class="nav-icon" ng-class="{ 'navbar-active': isActive('track')}">
            <img class="navbar-icon" src="img/svg/record.svg">
          </div>
        </a>
        <a href="plan">
          <div class="nav-icon" ng-class="{ 'navbar-active': isActive('plan')}">
            <img class="navbar-icon" src="img/svg/calendar.svg">
          </div>
        </a>
        <a href="statistics/performance">
          <div class="nav-icon" ng-class="{ 'navbar-active': isActive('statistics/')}">
            <img class="navbar-icon" src="img/svg/chart.svg">
          </div>
        </a>
        <a href="exercices/exercices">
          <div class="nav-icon" ng-class="{ 'navbar-active': isActive('exercices/')}">
            <img class="navbar-icon" src="img/svg/gym.svg">
          </div>
        </a>
        <a href="measures/measurements">
          <div class="nav-icon" ng-class="{ 'navbar-active': isActive('measures/')}">
            <img class="navbar-icon" src="img/svg/ruler.svg">
          </div>
        </a>
        <a href="goals/bodyfat">
          <div class="nav-icon" ng-class="{ 'navbar-active': isActive('goals/')}">
            <img class="navbar-icon" src="img/svg/aim.svg">
          </div>
        </a>
		
		<a href="setting">
			<div class="nav-icon">
        		<img class="navbar-icon" src="img/svg/settings.svg">
			</div>
		</a>
		
</div>